<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/header') %> 
</head>
<body><%- include('../../layout/head') %>

<main>
<form action="/new" method="POST">
    <fieldset>
        <legend>The search bar</legend>
        <label for="searchQueary"></label>
        <input type="text" name="searchQueary" required>

        <input type="radio" name="sortBy"  value="title" required>
        <label for="title">Title</label>

        <input type="radio" name="sortBy" value="author">
        <label for="author">author</label>

        <button type="submit">search now</button>
    </fieldset>
</form>

</main>
</body>
</html>