<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/header') %>
</head>
<%- include('../layout/head') %>

    <body>
        <h1>some thing went wrong return to the main <a href="/">click here</a> </h1>
    </body>

</html>